{% extends "base.html" %}

{% block content %}

<head>
  <title>Selección de Sucursal y Horario</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function() {
      $('.sucursal-selector').change(function() {
        var url = $(this).children('option:selected').data('url-horarios');

        $.ajax({
          url: url,
          success: function(data) {
            var horarioSelector = $('.horario-selector');
            horarioSelector.empty();
            $.each(data.horarios, function(key, value) {
              horarioSelector.append('<option value="' + value + '"> ' + value + '</option>');
            });
          }
        });
      });

      $('.ubicacion-selector').change(function() {
        var url = $(this).children('option:selected').data('url-sucursales');

        $.ajax({
          url: url,
          success: function(data) {
            var sucursalSelector = $('.sucursal-selector');
            sucursalSelector.empty();
            $.each(data.sucursales, function(key, value) {
              sucursalSelector.append('<option value="' + value + '" data-url-horarios="' + data.url_horarios + '"> ' + value + '</option>');
            });
            sucursalSelector.trigger('change');
          }
        });
      });
    });
  </script>
</head>
<body>
  <label for="ubicacion">Ubicación:</label>
  <select name="ubicacion" id="ubicacion" class="ubicacion-selector">
    <option value="Mexico" data-url-sucursales="{{ url_for('sucursales', ubicacion='Mexico') }}">México</option>
    <option value="Puebla" data-url-sucursales="{{ url_for('sucursales', ubicacion='Puebla') }}">Puebla</option>
    <option value="Merida" data-url-sucursales="{{ url_for('sucursales', ubicacion='Merida') }}">Mérida</option>
  </select>

  <label for="sucursal">Sucursal:</label>
  <select name="sucursal" id="sucursal" class="sucursal-selector">
  </select>

  <label for="horario">Horario:</label>
  <select name="horario" id="horario" class="horario-selector">
  </select>
</body>
</html>

{% endblock %}